<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxb.mapper.AppLogMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, appcode, appversion, devicetype, sys, sysversion, service, action, method, reqheader, reqbody, exception, create_date, devicemodel, user_id
	</sql>

</mapper>