<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxb.mapper.AppRecoRecordMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, recouser, recomobile, reconum, userid, usermobile, appcode, appversion, devicetype, devicemodel, sys, sysversion, create_by, create_date, update_by, update_date, remarks, del_flag
	</sql>

</mapper>