<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxb.mapper.GxbJobInfoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, title, jobtype, hasexperies, hiring, agetype, calculateway, treatmenttype, treatment, welfare, proviceid, cityid, areaid, positionx, positiony, address, mobile, publisher, viewcount, appcode, appversion, devicetype, devicemodel, sys, sysversion, create_by, create_date, update_by, update_date, remarks, del_flag, ishiring, worktime, priority, workexper, isauth, type, interestcount, thinkcount, companyid, ispushwechat
	</sql>

</mapper>