<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxb.mapper.GxbTaskRuleUserConditionMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, name, condition_user_id, condition_role, condition_level, condition_is_bind_pay, condition_is_real_name, del_flag
	</sql>

</mapper>