<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxb.mapper.GxbUserSalaryRealDetailMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, applyid, applydetailid, companyid, projectid, projectname, groupid, groupname, pmuserid, pmname, groupleader, groupleadername, recorder, recordername, salaryid, salarymonth, worker, workername, jobtype, payer, payercard, content, paydate, salary, bankname, cardno, status, create_by, create_date, update_by, update_date, remarks, del_flag, totalsalary, restsalary, startdate, enddate, paymonth, outtradeno, orderno, paysernumber, batchno, isrec, applysalary
	</sql>

</mapper>