<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--controller 使用 aop-->
    <aop:aspectj-autoproxy/>

    <!--只扫描控制层-->
    <context:component-scan base-package="com.gxb" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>

        <context:include-filter type="regex" expression="com.gxb.aop.ResponseJson.ResponseDataWrapperAspect"/>
        <context:include-filter type="regex" expression="com.gxb.config.MySwaggerConfig"/>
    </context:component-scan>

    <!-- 启用默认配置 -->
    <mvc:annotation-driven>
        <!--<mvc:message-converters register-defaults="true">-->
            <!--&lt;!&ndash; 配置Fastjson支持 &ndash;&gt;-->
            <!--<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                        <!--<value>application/json</value>-->
                    <!--</list>-->
                <!--</property>-->
                <!--<property name="features">-->
                    <!--<list>-->
                        <!--<value>WriteMapNullValue</value>-->
                        <!--<value>QuoteFieldNames</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    </mvc:annotation-driven>

    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>


</beans>