<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxb.dao.AppUserMapper">
    <resultMap id="BaseResultMap" type="com.gxb.domain.AppUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="usertype" property="usertype" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" jdbcType="VARCHAR"/>
        <result column="jobtype" property="jobtype" jdbcType="VARCHAR"/>
        <result column="jobstatus" property="jobstatus" jdbcType="VARCHAR"/>
        <result column="workexper" property="workexper" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="thirdid" property="thirdid" jdbcType="VARCHAR"/>
        <result column="headimg" property="headimg" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="weibo" property="weibo" jdbcType="VARCHAR"/>
        <result column="proviceid" property="proviceid" jdbcType="VARCHAR"/>
        <result column="cityid" property="cityid" jdbcType="VARCHAR"/>
        <result column="areaid" property="areaid" jdbcType="VARCHAR"/>
        <result column="reconum" property="reconum" jdbcType="VARCHAR"/>
        <result column="jfcount" property="jfcount" jdbcType="INTEGER"/>
        <result column="companyname" property="companyname" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="regdate" property="regdate" jdbcType="TIMESTAMP"/>
        <result column="comefrom" property="comefrom" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="latestlogin" property="latestlogin" jdbcType="TIMESTAMP"/>
        <result column="identitycard" property="identitycard" jdbcType="VARCHAR"/>
        <result column="deviceidentifier" property="deviceidentifier" jdbcType="VARCHAR"/>
        <result column="appcode" property="appcode" jdbcType="VARCHAR"/>
        <result column="appversion" property="appversion" jdbcType="VARCHAR"/>
        <result column="devicetype" property="devicetype" jdbcType="VARCHAR"/>
        <result column="devicemodel" property="devicemodel" jdbcType="VARCHAR"/>
        <result column="sys" property="sys" jdbcType="VARCHAR"/>
        <result column="sysversion" property="sysversion" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
        <result column="userlevel" property="userlevel" jdbcType="VARCHAR"/>
        <result column="iscertification" property="iscertification" jdbcType="VARCHAR"/>
        <result column="certifidate" property="certifidate" jdbcType="TIMESTAMP"/>
        <result column="ispwd" property="ispwd" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.gxb.domain.AppUser" extends="BaseResultMap">
        <result column="remarks" property="remarks" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userid, usertype, password, username, nickname, realname, jobtype, jobstatus,
        workexper, age, thirdid, headimg, gender, birthday, email, mobile, phone, weibo,
        proviceid, cityid, areaid, reconum, jfcount, companyname, address, status, regdate,
        comefrom, level, latestlogin, identitycard, deviceidentifier, appcode, appversion,
        devicetype, devicemodel, sys, sysversion, create_by, create_date, update_by, update_date,
        del_flag, userlevel, iscertification, certifidate, ispwd
    </sql>
    <sql id="Blob_Column_List">
        remarks
    </sql>
    <insert id="insertSelective" parameterType="com.gxb.domain.AppUser">
        insert into app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="usertype != null">
                usertype,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="realname != null">
                realname,
            </if>
            <if test="jobtype != null">
                jobtype,
            </if>
            <if test="jobstatus != null">
                jobstatus,
            </if>
            <if test="workexper != null">
                workexper,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="thirdid != null">
                thirdid,
            </if>
            <if test="headimg != null">
                headimg,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="weibo != null">
                weibo,
            </if>
            <if test="proviceid != null">
                proviceid,
            </if>
            <if test="cityid != null">
                cityid,
            </if>
            <if test="areaid != null">
                areaid,
            </if>
            <if test="reconum != null">
                reconum,
            </if>
            <if test="jfcount != null">
                jfcount,
            </if>
            <if test="companyname != null">
                companyname,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="regdate != null">
                regdate,
            </if>
            <if test="comefrom != null">
                comefrom,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="latestlogin != null">
                latestlogin,
            </if>
            <if test="identitycard != null">
                identitycard,
            </if>
            <if test="deviceidentifier != null">
                deviceidentifier,
            </if>
            <if test="appcode != null">
                appcode,
            </if>
            <if test="appversion != null">
                appversion,
            </if>
            <if test="devicetype != null">
                devicetype,
            </if>
            <if test="devicemodel != null">
                devicemodel,
            </if>
            <if test="sys != null">
                sys,
            </if>
            <if test="sysversion != null">
                sysversion,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="userlevel != null">
                userlevel,
            </if>
            <if test="iscertification != null">
                iscertification,
            </if>
            <if test="certifidate != null">
                certifidate,
            </if>
            <if test="ispwd != null">
                ispwd,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="usertype != null">
                #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="jobtype != null">
                #{jobtype,jdbcType=VARCHAR},
            </if>
            <if test="jobstatus != null">
                #{jobstatus,jdbcType=VARCHAR},
            </if>
            <if test="workexper != null">
                #{workexper,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="thirdid != null">
                #{thirdid,jdbcType=VARCHAR},
            </if>
            <if test="headimg != null">
                #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="weibo != null">
                #{weibo,jdbcType=VARCHAR},
            </if>
            <if test="proviceid != null">
                #{proviceid,jdbcType=VARCHAR},
            </if>
            <if test="cityid != null">
                #{cityid,jdbcType=VARCHAR},
            </if>
            <if test="areaid != null">
                #{areaid,jdbcType=VARCHAR},
            </if>
            <if test="reconum != null">
                #{reconum,jdbcType=VARCHAR},
            </if>
            <if test="jfcount != null">
                #{jfcount,jdbcType=INTEGER},
            </if>
            <if test="companyname != null">
                #{companyname,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="regdate != null">
                #{regdate,jdbcType=TIMESTAMP},
            </if>
            <if test="comefrom != null">
                #{comefrom,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="latestlogin != null">
                #{latestlogin,jdbcType=TIMESTAMP},
            </if>
            <if test="identitycard != null">
                #{identitycard,jdbcType=VARCHAR},
            </if>
            <if test="deviceidentifier != null">
                #{deviceidentifier,jdbcType=VARCHAR},
            </if>
            <if test="appcode != null">
                #{appcode,jdbcType=VARCHAR},
            </if>
            <if test="appversion != null">
                #{appversion,jdbcType=VARCHAR},
            </if>
            <if test="devicetype != null">
                #{devicetype,jdbcType=VARCHAR},
            </if>
            <if test="devicemodel != null">
                #{devicemodel,jdbcType=VARCHAR},
            </if>
            <if test="sys != null">
                #{sys,jdbcType=VARCHAR},
            </if>
            <if test="sysversion != null">
                #{sysversion,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="userlevel != null">
                #{userlevel,jdbcType=VARCHAR},
            </if>
            <if test="iscertification != null">
                #{iscertification,jdbcType=VARCHAR},
            </if>
            <if test="certifidate != null">
                #{certifidate,jdbcType=TIMESTAMP},
            </if>
            <if test="ispwd != null">
                #{ispwd,jdbcType=CHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gxb.domain.AppUser">
        update app_user
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="usertype != null">
                usertype = #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="jobtype != null">
                jobtype = #{jobtype,jdbcType=VARCHAR},
            </if>
            <if test="jobstatus != null">
                jobstatus = #{jobstatus,jdbcType=VARCHAR},
            </if>
            <if test="workexper != null">
                workexper = #{workexper,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="thirdid != null">
                thirdid = #{thirdid,jdbcType=VARCHAR},
            </if>
            <if test="headimg != null">
                headimg = #{headimg,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="weibo != null">
                weibo = #{weibo,jdbcType=VARCHAR},
            </if>
            <if test="proviceid != null">
                proviceid = #{proviceid,jdbcType=VARCHAR},
            </if>
            <if test="cityid != null">
                cityid = #{cityid,jdbcType=VARCHAR},
            </if>
            <if test="areaid != null">
                areaid = #{areaid,jdbcType=VARCHAR},
            </if>
            <if test="reconum != null">
                reconum = #{reconum,jdbcType=VARCHAR},
            </if>
            <if test="jfcount != null">
                jfcount = #{jfcount,jdbcType=INTEGER},
            </if>
            <if test="companyname != null">
                companyname = #{companyname,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="regdate != null">
                regdate = #{regdate,jdbcType=TIMESTAMP},
            </if>
            <if test="comefrom != null">
                comefrom = #{comefrom,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="latestlogin != null">
                latestlogin = #{latestlogin,jdbcType=TIMESTAMP},
            </if>
            <if test="identitycard != null">
                identitycard = #{identitycard,jdbcType=VARCHAR},
            </if>
            <if test="deviceidentifier != null">
                deviceidentifier = #{deviceidentifier,jdbcType=VARCHAR},
            </if>
            <if test="appcode != null">
                appcode = #{appcode,jdbcType=VARCHAR},
            </if>
            <if test="appversion != null">
                appversion = #{appversion,jdbcType=VARCHAR},
            </if>
            <if test="devicetype != null">
                devicetype = #{devicetype,jdbcType=VARCHAR},
            </if>
            <if test="devicemodel != null">
                devicemodel = #{devicemodel,jdbcType=VARCHAR},
            </if>
            <if test="sys != null">
                sys = #{sys,jdbcType=VARCHAR},
            </if>
            <if test="sysversion != null">
                sysversion = #{sysversion,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="userlevel != null">
                userlevel = #{userlevel,jdbcType=VARCHAR},
            </if>
            <if test="iscertification != null">
                iscertification = #{iscertification,jdbcType=VARCHAR},
            </if>
            <if test="certifidate != null">
                certifidate = #{certifidate,jdbcType=TIMESTAMP},
            </if>
            <if test="ispwd != null">
                ispwd = #{ispwd,jdbcType=CHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectListRow" resultType="com.gxb.domain.AppUser">
        select * from app_user
    </select>
</mapper>